body {
    font-family: Arial;
    background-color:beige;
}

.news-container {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.news-item {
    width: 30%;
    height: 330px; 
    float:left;
    margin-right: 3%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.page {
    list-style: none;
    text-align:left;
    padding: 0;
}

.page li {
    display: inline-block;
}

.page a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    background:rgb(60, 155, 243);
}

.page a:hover {
    background-color:yellow;
}

